<!--<mat-toolbar color="primary" style="font-size: small;">
    <mat-toolbar-row>
<header class="header">
    <div class="headcon">
    <a >Item: 2 0f 10
        <br>Block: 1 of 1
    </a>
    <a mat-button ><mat-icon>flag</mat-icon>Mark</a>

    <a mat-button style="text-align:center;"><mat-icon>arrow_left</mat-icon>Previous</a>
    <a mat-button >Next<mat-icon>arrow_right</mat-icon></a>
    <div class="spacer"></div>

    <a mat-button ><mat-icon></mat-icon>Lab Values</a>
    <a mat-button ><mat-icon>note_alt</mat-icon>Notes</a>
    <a mat-button ><mat-icon>calculate</mat-icon>Calculator</a>
    <a mat-button ><mat-icon>invert_colors</mat-icon>Reverse Color</a>
    <a mat-button ><mat-icon></mat-icon>Text Zoom</a>
</div>
</header>
</mat-toolbar-row>
</mat-toolbar>-->
